﻿@{
    ViewBag.Title = "Home Page";
}
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@




<div class="banners">
    <!-- ========== CATEGORIES TABS ========= -->
    <!-- ==================================== -->
    <div class="coin-slider" id="coin-slider-coin-slider">
        <div id="coin-slider" style="width: 710px; height: 382px; position: relative; background-image: url(~/Content/Img/banner1.jpg); background-position: 0% 0%;">
            <!-- BOF- BANNER #1 display -->
            <div id="bannerOne"><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=1&amp;zenid=3ghopb02ouhtuj1ue240ud6o03"><img src="~/Content/Img/banner1.jpg" alt="-50%" title=" -50% " width="710" height="382" style="display: none;"></a></div>
            <!-- EOF- BANNER #1 display -->
            <!-- BOF- BANNER #2 display -->
            <div id="bannerTwo"><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03"><img src="~/Content/Img/banner2.jpg" alt="-50%" title=" -50% " width="710" height="382" style="display: none;"></a></div>
            <!-- EOF- BANNER #2 display -->
            <!-- BOF- BANNER #3 display -->
            <div id="bannerThree"><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=3&amp;zenid=3ghopb02ouhtuj1ue240ud6o03"><img src="~/Content/I~/Content/Img/buttonsmg/banner3.jpg" alt="-50%" title=" -50% " width="710" height="382" style="display: none;"></a></div>
            <!-- EOF- BANNER #3 display -->

            <div class="cs-title" id="cs-title-coin-slider" style="position: absolute; bottom: 0px; left: 0px; z-index: 1000; opacity: 0;"></div><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider11" style="width: 119px; height: 96px; float: left; position: absolute; left: 0px; top: 0px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: 0px 0px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider12" style="width: 119px; height: 96px; float: left; position: absolute; left: 119px; top: 0px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: -119px 0px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider13" style="width: 118px; height: 96px; float: left; position: absolute; left: 238px; top: 0px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: -238px 0px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider14" style="width: 118px; height: 96px; float: left; position: absolute; left: 356px; top: 0px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: -356px 0px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider15" style="width: 118px; height: 96px; float: left; position: absolute; left: 474px; top: 0px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: -474px 0px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider16" style="width: 118px; height: 96px; float: left; position: absolute; left: 592px; top: 0px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: -592px 0px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider21" style="width: 119px; height: 96px; float: left; position: absolute; left: 0px; top: 96px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: 0px -96px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider22" style="width: 119px; height: 96px; float: left; position: absolute; left: 119px; top: 96px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: -119px -96px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider23" style="width: 118px; height: 96px; float: left; position: absolute; left: 238px; top: 96px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: -238px -96px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider24" style="width: 118px; height: 96px; float: left; position: absolute; left: 356px; top: 96px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: -356px -96px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider25" style="width: 118px; height: 96px; float: left; position: absolute; left: 474px; top: 96px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: -474px -96px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider26" style="width: 118px; height: 96px; float: left; position: absolute; left: 592px; top: 96px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: -592px -96px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider31" style="width: 119px; height: 95px; float: left; position: absolute; left: 0px; top: 192px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: 0px -192px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider32" style="width: 119px; height: 95px; float: left; position: absolute; left: 119px; top: 192px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: -119px -192px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider33" style="width: 118px; height: 95px; float: left; position: absolute; left: 238px; top: 192px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: -238px -192px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider34" style="width: 118px; height: 95px; float: left; position: absolute; left: 356px; top: 192px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: -356px -192px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider35" style="width: 118px; height: 95px; float: left; position: absolute; left: 474px; top: 192px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: -474px -192px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider36" style="width: 118px; height: 95px; float: left; position: absolute; left: 592px; top: 192px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: -592px -192px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider41" style="width: 119px; height: 95px; float: left; position: absolute; left: 0px; top: 287px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: 0px -287px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider42" style="width: 119px; height: 95px; float: left; position: absolute; left: 119px; top: 287px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: -119px -287px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider43" style="width: 118px; height: 95px; float: left; position: absolute; left: 238px; top: 287px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: -238px -287px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider44" style="width: 118px; height: 95px; float: left; position: absolute; left: 356px; top: 287px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: -356px -287px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider45" style="width: 118px; height: 95px; float: left; position: absolute; left: 474px; top: 287px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: -474px -287px;"></a><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=2&amp;zenid=3ghopb02ouhtuj1ue240ud6o03" class="cs-coin-slider" id="cs-coin-slider46" style="width: 118px; height: 95px; float: left; position: absolute; left: 592px; top: 287px; opacity: 1; background-image: url(file:///M:/Setup/livedemo00.template-help.com/zencart_34200/zencart_34200/images/banner2.jpg); background-position: -592px -287px;"></a><div id="cs-navigation-coin-slider" style="display: none;"><a href="#" id="cs-prev-coin-slider" class="cs-prev" style="position: absolute; top: 176px; left: 0px; z-index: 1001; line-height: 30px;">prev</a><a href="#" id="cs-next-coin-slider" class="cs-next" style="position: absolute; top: 176px; right: 0px; z-index: 1001; line-height: 30px;">next</a></div>
        </div><div id="cs-buttons-coin-slider" class="cs-buttons"><a href="#" class="cs-button-coin-slider" id="cs-button-coin-slider-1">1</a><a href="#" class="cs-button-coin-slider cs-active" id="cs-button-coin-slider-2">2</a><a href="#" class="cs-button-coin-slider" id="cs-button-coin-slider-3">3</a></div>
    </div>
    <!-- BOF- BANNER #4 display -->
    <div id="bannerFour"><a href="index.php?main_page=redirect&amp;action=banner&amp;goto=4&amp;zenid=3ghopb02ouhtuj1ue240ud6o03"><img src="~/Content/Img/banner4.jpg" alt="Free Shipping" title=" Free Shipping " width="710" height="176"></a></div>
    <!-- EOF- BANNER #4 display -->

</div>
<div class="column-center-padding">

    <!--content_center-->
    <!-- bof breadcrumb -->
    <!-- eof breadcrumb -->
    <!-- bof upload alerts -->
    <!-- eof upload alerts -->


    <div class="centerColumn" id="indexDefault">



        <!-- deprecated - to use uncomment this section
        <div id="" class="content">This is the main define statement for the page for english when no template defined file exists. It is located in: <strong>/includes/languages/english/index.php</strong></div>
        -->
        <!-- deprecated - to use uncomment this section
        <div id="" class="content">Define your main Index page copy here.</div>
        -->

        <div id="indexDefaultMainContent"></div>



        <!-- bof: featured products  -->
        <div class="centerBoxWrapper" id="featuredProducts">

            <h2 class="centerBoxHeading">Featured Products</h2>

            <div class="centerBoxContentsFeatured centeredContent back" style="width:33%;">
                <div class="product-col">
                    <div class="img">
                        <a href="index_86.htm"><img src="~/Content/Img/01.jpg" alt="Albanese Butterflies" title=" Albanese Butterflies " width="198" height="169"></a>
                    </div>
                    <div class="prod-info">
                        <a class="name" href="index_86.htm">Albanese Butterflies</a>

                        <div class="text">
                            Lorem ipsum dol...
                        </div>
                        <div class="wrapper">
                            <div class="price">
                                <strong>$550.00</strong>
                            </div>
                            <div class="button"><a href="index_86.htm"><img src="~/Content/Img/buttons/english/button_goto_prod_details.gif" alt="Go To This Product's Detailed Information" title=" Go To This Product's Detailed Information " width="67" height="22"></a></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="centerBoxContentsFeatured centeredContent back" style="width:33%;">
                <div class="product-col" style="margin-left:7px; margin-right:7px;">
                    <div class="img">
                        <a href="index_87.htm"><img src="~/Content/Img/02.jpg" alt="Raspberry Rings" title=" Raspberry Rings " width="198" height="169"></a>
                    </div>
                    <div class="prod-info">
                        <a class="name" href="index_87.htm">Raspberry Rings</a>

                        <div class="text">
                            Praesent risus ...
                        </div>
                        <div class="wrapper">
                            <div class="price">
                                <strong>$160.00</strong>
                            </div>
                            <div class="button"><a href="index_87.htm"><img src="~/Content/Img/buttons/english/button_goto_prod_details.gif" alt="Go To This Product's Detailed Information" title=" Go To This Product's Detailed Information " width="67" height="22"></a></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="centerBoxContentsFeatured centeredContent back" style="width:33%;">
                <div class="product-col" style="margin-left:13px;">
                    <div class="img">
                        <a href="index_88.htm"><img src="~/Content/Img/03.jpg" alt="Allsorts Licorice" title=" Allsorts Licorice " width="198" height="169"></a>
                    </div>
                    <div class="prod-info">
                        <a class="name" href="index_88.htm">Allsorts Licorice</a>

                        <div class="text">
                            Quisque feugiat...
                        </div>
                        <div class="wrapper">
                            <div class="price">
                                <strong>$241.00</strong>
                            </div>
                            <div class="button"><a href="index_88.htm"><img src="~/Content/Img/buttons/english/button_goto_prod_details.gif" alt="Go To This Product's Detailed Information" title=" Go To This Product's Detailed Information " width="67" height="22"></a></div>

                        </div>
                    </div>
                </div>
            </div>
            <br class="clearBoth">

            <div class="centerBoxContentsFeatured centeredContent back" style="width:33%;">
                <div class="product-col">
                    <div class="img">
                        <a href="index_89.htm"><img src="~/Content/Img/04.jpg" alt="California Figs" title=" California Figs " width="198" height="169"></a>
                    </div>
                    <div class="prod-info">
                        <a class="name" href="index_89.htm">California Figs </a>

                        <div class="text">
                            Duis tortor qua...
                        </div>
                        <div class="wrapper">
                            <div class="price">
                                <strong>$651.00</strong>
                            </div>
                            <div class="button"><a href="index_89.htm"><img src="~/Content/Img/buttons/english/button_goto_prod_details.gif" alt="Go To This Product's Detailed Information" title=" Go To This Product's Detailed Information " width="67" height="22"></a></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="centerBoxContentsFeatured centeredContent back" style="width:33%;">
                <div class="product-col" style="margin-left:7px; margin-right:7px;">
                    <div class="img">
                        <a href="index_90.htm"><img src="~/Content/Img/05.jpg" alt="Lemon Fruit Slices" title=" Lemon Fruit Slices " width="198" height="169"></a>
                    </div>
                    <div class="prod-info">
                        <a class="name" href="index_90.htm">Lemon Fruit Slices</a>

                        <div class="text">
                            Duis vel lacus ...
                        </div>
                        <div class="wrapper">
                            <div class="price">
                                <strong>$211.00</strong>
                            </div>
                            <div class="button"><a href="index_90.htm"><img src="~/Content/Img/buttons/english/button_goto_prod_details.gif" alt="Go To This Product's Detailed Information" title=" Go To This Product's Detailed Information " width="67" height="22"></a></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="centerBoxContentsFeatured centeredContent back" style="width:33%;">
                <div class="product-col" style="margin-left:13px;">
                    <div class="img">
                        <a href="index_91.htm"><img src="~/Content/Img/06.jpg" alt="Giant Jellies Gum Drops" title=" Giant Jellies Gum Drops " width="198" height="169"></a>
                    </div>
                    <div class="prod-info">
                        <a class="name" href="index_91.htm">Giant Jellies Gum Drops</a>

                        <div class="text">
                            Morbi facilisis...
                        </div>
                        <div class="wrapper">
                            <div class="price">
                                <strong>$83.00</strong>
                            </div>
                            <div class="button"><a href="index_91.htm"><img src="~/Content/Img/buttons/english/button_goto_prod_details.gif" alt="Go To This Product's Detailed Information" title=" Go To This Product's Detailed Information " width="67" height="22"></a></div>

                        </div>
                    </div>
                </div>
            </div>
            <br class="clearBoth">

        </div>
        <!-- eof: featured products  -->





    </div>

    <div class="clear"></div>

    <!--eof content_center-->
    <div class="footer-menu">
        <!-- ========== MENU ========== -->

        <a href="http://livedemo00.template-help.com/zencart_34200/zencart_34200.html">Home</a>&nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp;
        <a href="index_52.htm">New Products</a>
        &nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp;
        <a href="index_53.htm">Specials</a>
        &nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp;
        <a href="index_54.htm">Products All</a>
        &nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp;
        <a href="index_55.htm">Reviews</a>
        &nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp;
        <a href="index_56.htm">Contact Us</a>
        &nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp;
        <a href="index_57.htm">FAQs</a>
     
        <!-- ========================== -->
    </div> s
</div>
