@using balaban.Models
@{
    List<Urun> urunler;
    using (var db = new balaban.DAL.bContext())
    {
        urunler = db.Urunler.Where(x => x.UrunResimler.Count > 0 &
                                        x.UrunFiyatlar.Count > 0).ToList();
    }

}

@foreach (Urun urun in urunler)
{
    <li class="category-top_un"><span class="top-span"><a class="category-top_un" href="@Href("~/Home/Details/" + (urun.ID))">@urun.UrunAdi</a></span></li>
} 